.card-container{
    position: absolute;
    padding: 20px;
    max-width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid red;
}

.intro{
    text-align: center;
}

.plan{
    display: flex;
    align-items: center;
}

.subscription-icon{
    margin-right: 15px;
}

.subscription-plan{
    border: 1px solid grey;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.actions{
    display: flex;
    flex-direction: column;
}